*{
    font-family: 'Noto Sans Mono', monospace;
}

body{
    /*background-image: url(https://img.freepik.com/psd-premium/maqueta-logotipo-realista-moderna-sala-fitness-gimnasio_9790-721.jpg?w=2000);
    background-size: cover;*/
    background-color: rgba(42, 42, 44, 0.151);
}

nav{
    background-color: rgb(165, 170, 179);
}

#menubar {
    margin: 0.5rem 0rem 0.5rem 1rem;
}
h1{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    width: auto;
}


#contacto{
    height: 100%;
    background-image: url(img/contacto.jpg);
}

form{
    background-color: aquamarine;
}



footer{
    padding: 5%;
    text-align: center;
}
